* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

body {
  width: 400;
  height: 400;
  background-image: url(./img/d3567b682d943952f4ec916ed83bb322.jpg);
  background-size: cover;
  background-position: center center;
}
 

a {
  color: #ea02ff;
  text-decoration: none;
  
  }
  
  nav a:hover {
    color: #00ffaa;
  }


  ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
  padding: 16px;
  
  padding: 10px 20px;
  background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1;
    
  }

  
  h1 {
    color: #00ffaa;


  }


  video {

    
  }